/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #FF565D;
    --active-color: #928F8F;
    --inactive-color: #F2F2F2;
    --secondary-color: #000000;
    --third-color: #e2e2e2;
    --text-name-color: #959595;
}

@font-face {
    font-family: 'CarnasW03';
    src: url('assets/fonts/CarnasW03-Regular.woff') format('woff');
}

* {
    font-family: 'CarnasW03';
}

html {
    height: 100%;
}

body {
    zoom: 75%;
    margin: 0;
    width: 100%;
    height: 100%;
}

hr {
    background-color: #ddd;
    height: 1px;
    border: none;
}


.p-menubar {
    padding: 1.5rem;
    background: #e2e2e2;
    text-align: center;
}

.p-dialog .p-dialog-header .p-dialog-title {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.p-dialog .p-dialog-footer {
    padding: 1.4rem 1.25rem;
}

.p-breadcrumb {
    background: #f3f3f3;
    border: transparent;
}

// Valid Inputs

.p-float-label>.ng-valid.ng-clean+label {
    color: #03b000;
}

.p-float-label>.ng-valid.ng-clean:disabled+label {
    color: rgba(0, 0, 0, 0.6);
}

p-dropdown.ng-valid.ng-clean>.p-dropdown {
    border-color: #03b000 !important;
}

p-dropdown.ng-valid.ng-clean .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: inset 0 0 0 1px #03b000, inset 0 0 0 1px #03b000, inset 0 0 0 1px #03b000, inset 0 0 0 1px #03b000 !important;
}

.ng-valid.ng-clean.p-inputtext:enabled {
    border-color: #03b000;
}

.ng-valid.ng-clean.p-inputtext:enabled:focus {
    box-shadow: inset 0 0 0 1px #03b000, inset 0 0 0 1px #03b000, inset 0 0 0 1px #03b000, inset 0 0 0 1px #03b000 !important;
}

// Tab Menu

.tab-primary {
    .p-tabmenu-nav {
        display: inline-flex;
        border-width: 0px !important;
    }

    .p-tabmenu-nav-container {
        text-align: center;
        box-shadow: 0px 4px 15px rgb(0 0 0 / 25%);
        background: #ffffff
    }

    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
        padding: 1.75rem 3.25rem;
    }

    .p-tabmenu .p-tabmenu-nav .p-tabmenu-ink-bar {
        height: 3px;
        background-color: #000000;
    }

    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
        color: #000000;
    }
}

// Tab View

.tab-primary {
    .p-tabview-nav {
        justify-content: center;
        background: #ffffff !important;
        border-width: 0px !important;
    }

    .p-tabview-nav-container {
        box-shadow: 0px 4px 15px rgb(0 0 0 / 25%);
    }

    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        padding: 1.75rem 3.25rem;
    }

    .p-tabview .p-tabview-nav .p-tabview-ink-bar {
        height: 3px;
        background-color: #000000;
    }

    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        color: #000000;
    }

    .p-tabview .p-tabview-panels {
        background: transparent;
    }
}

.tab-secondary {
    .p-tabview-nav {
        justify-content: space-between;
        background: transparent !important;
        border-width: 0px !important;
    }

    .p-tabview .p-tabview-panels {
        background: transparent;
        padding-top: 2rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .p-highlight .p-tabview-nav-link {
        background-color: #000000 !important;
        color: #ffffff !important;
        border: 1px solid !important;
        border-radius: 100px !important;
    }

    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        background: transparent;
        border: none;
        padding: 0.75rem 4rem;
    }

    .p-tabview .p-tabview-nav .p-tabview-ink-bar {
        display: none;
    }
}

// Image Icon

.img-icon {
    width: 40%;
    height: auto;
}

// Buttons

.b-primary {
    background-color: var(--primary-color) !important;
    border-radius: 5px !important;
    border: none !important;
}

.b-transparent {
    background-color: transparent !important;
    color: #000000 !important;
    border: 2px solid !important;
    border-radius: 5px !important;
}

.b-secondary {
    background-color: transparent !important;
    color: #FF1D53 !important;
    border: 1px solid !important;
    border-radius: 100px;
}

.b-third {
    background-color: #FF1D53 !important;
    color: #FFFFFF !important;
    border: 1px solid !important;
    border-radius: 100px;
}

.b-black {
    background-color: #000000 !important;
    color: #ffffff !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-radius: 100px;
}

.b-transparent-pink {
    background-color: transparent !important;
    color: var(--primary-color) !important;
    border: 2px solid var(--primary-color) !important;
    border-radius: 5px !important;
}



// Input Search

.search {
    background-color: transparent;
}

// Card

.card {
    background: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
}

.p-card .p-card-content {
    padding: 0px !important;
}

.p-card .p-card-body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.p-datatable>.p-datatable-wrapper {
    border-radius: 1rem;
}

.p-datatable .p-datatable-thead>tr>th {
    border: none;
    background-color: var(--primary-color);
    color: #ffffff;
}

.p-datatable .p-datatable-tbody>tr>td {
    border-width: 0;
}

.p-card {
    box-shadow: none;
    border-radius: 15px;
}

.p-card-body {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.point-active {
    color: #35A700;
}

.point-inactive {
    color: #ff565d;
}

.point-draft {
    color: #928F8F;
}

.point-pending {
    color: #FFB126;
}

.point-locked {
    color: red;
}

.point-overdrawn {
    color: #4aea00;
}

.point-counted {
  color: #ffffff;
}
// Checkbox

.p-checkbox .p-checkbox-box.p-highlight {
    border-color: #FF1D53 !important;
    background: #FF1D53 !important;
}

.p-paginator {
    justify-content: right !important;
    background: transparent;
}

// Dialog
.p-confirm-dialog .p-dialog-content {
    text-align: center;
}

.p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
    font-size: 3rem;
}

.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
    margin-left: 0rem;
    font-weight: bolder;
    font-size: 1.1rem;
}

.p-dialog .p-dialog-footer {
    text-align: center !important;
}

.p-dialog .p-dialog-footer button {
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 100px;
}

// Badge
.p-badge {
    padding: 0px 0.8rem;
    border-radius: 100px;
    font-weight: normal;
    background: #000000;
    font-style: normal;
    right: 1.7rem !important;
    cursor: pointer;
}

// Toast

.p-toast .p-toast-message.p-toast-message-success {
    background: #007604;
    color: #ffffff;
}

.p-toast .p-toast-message.p-toast-message-error {
    background: #b80000;
    color: #ffffff;
}

.p-toast .p-toast-message.p-toast-message-warn {
    background: #f48e00;
    color: #ffffff;
}

.p-toast .p-toast-message {
    border-radius: 1rem;
}

.p-toast .p-toast-message .p-toast-message-content {
    align-items: center;
}

.p-toast-icon-close {
    color: #ffffff !important;
}

.p-toast-message-icon {
    font-size: 1rem !important;
    color: #ffffff !important;
}

// Scrollbar
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f5f5f5;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 8px;
    border: 3px solid #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
    background: #062b60;
    transition-duration: 300ms;
}

// Sidebar

.p-sidebar {
    background: #FFFFFF;
}

.p-sidebar-header {
    display: block !important;
}

.layout-sidebar .app-logo {
    padding: 2.5rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-sidebar .layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.layout-sidebar .layout-menu .layout-root-menuitem>.layout-menuitem-root-text {
    font-size: .857rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    padding: 1rem 2rem;
}

.layout-sidebar .layout-menu a {
    display: flex;
    align-items: center;
    position: relative;
    font-weight: bolder;
    justify-content: space-between;
    outline: 0 none;
    cursor: pointer;
    padding: 0.75rem 2rem;
}

.p-button.p-button-text {
    color: var(--secondary-color);
}

.d-grid{
    display: grid
}

.p-element:not(input, button) {
    background-color: transparent !important;
    border: 1px #E5E9F2 !important;
}

.p-tabmenu-nav-container ul {
    background-color: transparent !important;
    background: transparent !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    padding: 1.05rem 3.25rem;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenu-ink-bar {
    height: 3px;
    background-color: #000000;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    color: #000000 !important;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link:active {
    background: #959595;
}

.p-breadcrumb {
    background: transparent !important;
}